@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #a47148;         /* warna brown bread */
  --color-primary-dull: #8b5e3c;    /* warna rustic bread */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}